body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

header {
    background-color: #a0a0f0
}

header > h1 {
    margin-top: 0;
}

#app {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#credits {
    text-align: center;
    list-style: none;
    font-size: 15px;
}

.credits-mdash {
    margin: 0 1em;
}

#logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gitHubMark {
    height: 42px;
}

#boards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    align-items: stretch;
    justify-content: center;
}

#arrowCanvas {
    height: 100px;
    width: 50px;
}

.board-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.board-container > canvas {
    border-radius: 15px;
    box-shadow: 1px 1px 4px;
}

#inputBoard {
    touch-action: none;
}

#arrowParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}

#funcForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#func {
    display: block;
    width: 100%;
}

#textFieldPlusErrorMessage {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#errorText {
    color: #a33;
    display: block;
    max-width: inherit;
    height: 3ex;
    font-size: 60%;
    line-height: 0.8;
    margin: 5px 0;
    text-align: center;
    overflow-wrap: anywhere;
}

#toolbar {
    display: flex;
}

.toolbar {
    margin-bottom: 5px;
}

.toolbar-button {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#penSizeButtons {
    list-style-type: none;
    display: flex;
    margin: 0 1rem;
    padding: 0;
    align-items: flex-start;
}

#penSizeButtons button {
    padding: 0;
}

#penSizeButtons canvas {
    width: 100%;
    height: 100%;
}

/* Chrome check, since it doesn't properly darken buttons on hover and click */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .darken-on-hover:hover {
        filter: brightness(90%);
    }

    .darken-on-hover:active {
        filter: brightness(75%);
    }
}

#clear {
    background-image: url(../svg/trash-svgrepo-com.svg);
}

#undo {
    background-image: url(../svg/undo-svgrepo-com.svg);
}

#outputToolbar {
    display: none;
}

header > h1 {
    font-weight: normal;
}

#poweredByLua {
    height: 64px;
    margin-bottom: 1vh;
}

@media (min-width: 600px) and (orientation: landscape) {
    #boards {
        flex-direction: row;
    }

    #arrowCanvas {
        width: 200px;
        height: 80px;
    }

    #outputToolbar {
        display: block;
    }
}
