body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#boards {
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    justify-content: center;
    align-items: stretch;
}

.board-container {
    flex-grow: 1;
    width: 100%;
}

#arrowdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 30px;
}

#funcform {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70px;
    background-color: #202020;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 90%;
}

#toolbar button {
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}
