
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    height: 5vh;
    background-color: #a0a0f0
}

header > h1 {
    margin-top: 0;
}

#app {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#boards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    align-items: stretch;
    justify-content: center;
}

#arrowCanvas {
    height: 100px;
    width: 50px;
}

.board-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container > canvas {
    margin: auto;
}

#arrowParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}

#funcForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70px;
    background-color: #202020;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 90%;
}

#toolbar button {
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}

@media(min-width: 800px) {
    #boards {
        flex-direction: row;
    }

    #arrowCanvas {
        width: 300px;
        height: 150px;
    }
}
