#tutorial {
    padding: 0 10vw;
    text-align: justify;
}

@media(min-width: 1200px) {
    #tutorial {
        padding: 0 30vw;
    }
}

.small-text {
    font-size: 70%;
}

.centered-youtube-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
